body{
    font-family: 'Comfortaa', "Microsoft JhengHei", cursive;
    font-weight: 500;
    border-collapse: collapse;
    background-color: black;
    color:#eaf4fa;
}

/*nav bar*/
/* Size for brand */
nav .navbar-brand
{
    color:#e6d8a2;
    font-size: small;
}


nav.navbar{
  position: relative;/*sticky =stick to the top, relative = not stick to top:D*/
  margin-top:20px;
  width: 100%;
  color:#e6d8a2;
  background-color: rgba(183, 226, 255, 0.45);
  backdrop-filter: blur(12px); /* Applies blur to content *behind* the navbar */
   border-radius: 14px;
  /* For older browsers */
  font-family: 'Comfortaa', "Microsoft JhengHei", cursive;
  font-weight: 600;
   border-collapse: collapse;
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000; /*keep it on the top layer*/
}

label { 
  display: block; 
  margin-top: 10px; }
  
.short-select{
  width: 120px; 
  margin: 0 auto; 
  display: block;
}