{% extends "layout.html" %}

{% block title %}
home
{% endblock %}

{% block main %}
<div>
    <form action="/" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Trip name">
        <button class="btn btn-primary" type="submit">Create new trip</button>
    </form>
</div>

<div>
    {% if trip %} 
        <h3>History</h3> 
    
        <ul>
            {% for t in trip %}
                <li><a href="{{url_for('history',trip_id=t['id'])}}" class="old_trip_name">{{t["name"]}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
